<p>orneklist works!</p>
<!-- artık bu tarz directivler kullanılmıyor aşağıdaki yapıları kullanacağız -->
<!-- <ul>
  <li *ngFor="let urun of list()">
    {{ urun.ad }} - {{ urun.fiyat }}
  </li>
</ul> -->


<!-- 
<input type="text" placeholder="Ürün ara..." [(ngModel)]="aramaMetni" />

<button (click)="ara()">Ara</button>






<ul>
  @for (item of list(); track item.id) {
  @if(item.stok!>0) {
  <li>{{ item.ad }} - {{ item.fiyat }} - {{item.stok}}<button (click)="sepeteEkle(item)">Sepete Ekle</button></li>
  }
  @else {
  <li>{{ item.ad }} - {{ item.fiyat }} - Stokta yok</li>
  }
  }
</ul> -->



<div class="card">
  <p-table [value]="list()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Stok</th>
        <th>İşlem</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>{{ product.ad }}</td>
        <td>{{ product.fiyat }}</td>
        <td>{{ product.kategori }}</td>
        <td>{{ product.stok }}</td>
        <td>
          <button pButton type="button" label="Sepete Ekle" (click)="sepeteEkle(product)"
            [disabled]="product.stok === 0"></button>
      </tr>
    </ng-template>
  </p-table>
</div>