<p-dialog header="Araç Detayı" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }">


  @if (selectedCar() && visible()) {
  <app-car-detail [car]=" selectedCar()"></app-car-detail>
  }

</p-dialog>

<p-dialog header="Araç Düzenle" [(visible)]="visibleForm" [modal]="true" [style]="{ width: '50vw' }">


  @if (selectedCar()&& visibleForm()) {
  <app-car-form [car]=" selectedCar()" (carChange)="updateCar($event)"></app-car-form>
  }

</p-dialog>



<input type="text" pInputText [(ngModel)]="searchText" />
<br>
<br>
<div class="card">
  <p-table [value]="list()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Stok</th>
        <th>İşlem</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.brandAd }}</td>
        <td>{{ item.modelAd }}</td>
        <td>{{ item.plate }}</td>
        <td>
          <button pButton type="button" label="Aracı Göster" (click)="aracGoster(item)"></button>
          <button pButton type="button" label="Aracı Düzenle" (click)="aracDuzenle(item)"></button>
          <button pButton type="button" label="Aracı Düzenle Form" (click)="aracDuzenleForm(item.id)"></button>
      </tr>
    </ng-template>
  </p-table>
</div>